.card{
    border-radius: 8px;
}

.color_card{
    background-color: var(--light-blue);
    width: 100%;
    border-radius: 8px;
    padding: 2rem; 
    height: auto;
    box-sizing: border-box;
    margin-bottom: 0;
}

.comunidade{
    padding: 1rem;
}

.card_code{
    height: auto;
    width: auto;
}

.card_info{
    background: rgba(0, 0, 0, 0.16);
    padding: 2rem;
}

.card_title{
    margin: 0;
}

@media screen and (min-width: 1024px){
    .cards{
        margin-left: -1.5rem;
        width: auto;
        grid-column: 2/6;
    }
}
