.main{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main_nav{
    display: none;
}

.main_nav--page{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_page--link{
    text-decoration: none;
    color: var(--white);
    opacity: 0.56;
}

.nav_page--link:active{
    opacity: 1;
}

.main_editor{
    width: 100%;
    height: auto;
}

.bluecard{
    background-color: var(--light-blue);
    width: 100%;
    border-radius: 8px;
    padding: 2rem; 
    height: auto;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.container_editor{
    background-color: var(--dark-gray);
    padding: .75rem;
    border-radius: 8px;
    height: auto;
}

.editor_buttons{
    display: flex;
    gap: .5rem;
    margin-bottom: 2rem;
}

.editor_button--red, .editor_button--yellow, .editor_button--green{
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    border: none;
}

.editor_button--red{
    background-color: var(--mac-red);
}

.editor_button--yellow{
    background-color: var(--mac-yellow);
}

.editor_button--green{
    background-color: var(--mac-green);
}

.editor{
    box-sizing: border-box;
    width: 100%;
    height: 20rem;
    border: none;
    background-color: var(--dark-gray);
    color: var(--white);
}

.editor_highlight{
    text-align: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--blue-transparent);
    border: none;
    border-radius: 8px;
    color: var(--white);
    margin-bottom: 3rem;;
}

@media screen and (min-width: 1024px){
    .main_nav{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}