.main{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main_nav{
    display: none;
}

.main_nav--page{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_page--link{
    text-decoration: none;
    color: var(--white);
    opacity: 0.56;
}

.nav_page--link:active{
    opacity: 1;
}

.main_editor{
    width: 100%;
    height: auto;
}

.card{
    background-color: var(--light-blue);
    width: 100%;
    border-radius: 8px;
    padding: 2rem; 
    height: auto;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.container_editor{
    background-color: var(--dark-gray);
    padding: .75rem;
    border-radius: 8px;
    height: auto;
}

.editor_buttons{
    display: flex;
    gap: .5rem;
    margin-bottom: 2rem;
}

.editor_button--red, .editor_button--yellow, .editor_button--green{
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    border: none;
}

.editor_button--red{
    background-color: var(--mac-red);
}

.editor_button--yellow{
    background-color: var(--mac-yellow);
}

.editor_button--green{
    background-color: var(--mac-green);
}

.editor{
    box-sizing: border-box;
    width: 100%;
    height: 20rem;
    border: none;
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: 'Inter';
}

.editor_highlight{
    text-align: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--blue-transparent);
    border: none;
    border-radius: 8px;
    color: var(--white);
    margin-bottom: 3rem;;
}

.main_form--projeto, .main_form--personalizacao{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: 2rem;
}

#nome_projeto, #descricao_projeto, .form_personalizacao--linguagem{
    padding: 1rem .5rem;
    border-radius: 8px;
    border: none;
    font-family: 'Inter' !important;
    background: rgba(255, 255, 255, 0.16);
}

.form_personalizacao--linguagem{
    color: var(--white);
    opacity: .5;
}

.form_personalizacao--cardcolor{
    height: 2.7rem;
    border-radius: 8px;
}

.light-blue{
    background-color: var(--light-blue);
}

.main_form--button{
    background-color: var(--blue);
    color: var(--dark-blue);
}

@media screen and (min-width: 1024px){
    .main_nav, .main_nav--list{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 0;
    }
}